@import 'tailwindcss';

@theme {
  --color-argon-20: oklch(0.98 0.02 320);
  --color-argon-50: oklch(0.95 0.05 320);
  --color-argon-100: oklch(0.88 0.09 320);
  --color-argon-200: oklch(0.81 0.14 320);
  --color-argon-300: oklch(0.74 0.19 320);
  --color-argon-400: oklch(0.65 0.24 320);
  --color-argon-500: oklch(0.55 0.28 320);
  --color-argon-600: oklch(0.48 0.24 320);
  --color-argon-700: oklch(0.41 0.2 320);
  --color-argon-800: oklch(0.34 0.16 320);
  --color-argon-900: oklch(0.27 0.12 320);
  --color-argon-950: oklch(0.2 0.08 320);

  --color-argon-text-primary: #4b2b4e;

  --color-argon-menu-bg: #fdfcfd;
  --color-argon-menu-hover: #f7edf8;
  --color-argon-button: #a600d4;
  --color-argon-button-hover: #8000a8;

  --color-argon-error: #dc3545;
  --color-argon-error-darker: #c62030;
  --color-argon-error-darkest: #800000;

  --text-md: 15px;
}

@utility inner-button-shadow {
  box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.5);
}

@utility inner-input-shadow {
  box-shadow: inset 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

@utility inner-input-shadow-2 {
  box-shadow: inset 2px 2px 1px 0 rgba(0, 0, 0, 0.1);
}

html {
  height: 100%;
  border-radius: 10px;
  background: #f9f2fa;
}

body {
  @apply cursor-default;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f9f2fa;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
button,
a {
  @apply select-none;
}

.selectable-text {
  @apply cursor-text select-text;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body.isDraggingIncrease {
  cursor: n-resize !important;
  div,
  svg,
  span {
    cursor: n-resize !important;
  }
}

body.isDraggingDecrease {
  cursor: s-resize !important;
  div,
  svg,
  span {
    cursor: s-resize !important;
  }
}
